# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# force loading nvidia drivers
#exec [ $(inxi -Gc 0 | sed -n '/Display/s/.* loaded: \(.*\) .*/\1/p' | sed -n 's/.*mode.*/1/p') ] && i3 exit

set $mod Mod4
set $alt Mod1
set $modetgl --no-startup-id ~/.config/i3/modetoggle

#-----------------+
# Appearance opts |
#-----------------+

set $term st
exec sleep 10 && $term -e paru

font pango: Nova Square 15
#Squarea/Stick, Inconsolata/FiraCode, Overpass/Exo 2, Font Awesome 5 Free Solid, JoyPixels

default_border pixel 1
gaps inner 15
#gaps outer 5

bindsym $mod+g gaps inner current plus 5
bindsym $mod+Shift+g gaps inner current minus 5
bindsym $mod+$alt+g gaps outer current plus 5
bindsym $mod+$alt+Shift+g gaps outer current minus 5
bindsym $mod+t gaps inner current toggle 20
bindsym $mod+$alt+t border toggle

set $bg #1c1c1c66

# class                 border  bg  text    indic.  child_border
#client.focused          #0c8c0c $bg #ffffff #881eaa #0c8c0c
client.focused          #77ff00 $bg #ffffff #881eaa #77ff00
client.focused_inactive $bg     $bg #ffffff #32302d #1c1c1caa
client.unfocused        $bg     $bg #ffffff #22201d $bg
client.background #00000000

exec --no-startup-id picom
bindsym $mod+p exec --no-startup-id pgrep -x "picom" && killall picom || picom

set $feh --no-startup-id feh --no-fehbg --bg-fill -rz ~/Pictures/screen
bindsym $mod+u mode ""
mode "" {
	bindsym $mod+u mode "default"
	bindsym Escape mode "default"
	bindsym c exec $feh/cars
	bindsym a exec $feh/animals
	bindsym d exec $feh/distros
	bindsym t exec $feh/top
	bindsym e exec $feh/anime
	bindsym h exec $feh/human
	bindsym n exec $feh/natural
	bindsym 1 exec $feh/natural/blue
	bindsym 2 exec $feh/natural/green
	bindsym 3 exec $feh/natural/nature
	bindsym 4 exec $feh/natural/red
	bindsym 5 exec $feh/natural/pink
	bindsym 6 exec $feh/natural/yellow
	bindsym 7 exec $feh/natural/white
	bindsym 0 exec $feh/natural/dark
}
exec $feh
#normal image displaying
#feh -. -B black -| /path/to/image

#---------------+
# App selection |
#---------------+

# start app launcher
#exec i3-dmenu-desktop
bindsym $mod+r exec --no-startup-id rofi -show drun
#bindsym Menu exec --no-startup-id rofi -show drun

# quick app starter
# engrampa for .zip, vlc for .mp4, pinta for .jpg
bindsym $mod+Return exec $term
bindsym $mod+1 exec lof firefox firefox
bindsym $mod+$alt+1 exec lof min Min
bindsym $mod+2 exec $term nvim
bindsym $mod+$alt+2 exec lof notepadqq Notepadqq
bindsym $mod+3 exec lof $term St
#bindsym $mod+$alt+3 exec $term2
bindsym $mod+4 exec lof discord discord
bindsym $mod+5 exec lof netbeans NetBeans
set $7 "[V]lc [P]inta [I]nkscape [G]imp [S]tay"
bindsym $mod+7 mode $7; workspace $w7
mode $7 {
	bindsym s mode default;
	bindsym v exec vlc; mode default
	bindsym p exec pinta; mode default
	bindsym i exec inkscape; mode default
	bindsym g exec gimp; mode default
	bindsym Escape mode default; workspace back_and_forth
	bindsym q mode default; workspace back_and_forth
}
bindsym $mod+9 exec lof "prime minecraft-launcher" ".*craft.*" ".*craft.*"
bindsym $mod+e exec pcmanfm
bindsym $mod+$alt+e exec $term ranger
#bindsym $mod+Shift+e exec sudo pcmanfm
# managing/control
bindsym Ctrl+Shift+Escape exec lof "$term htop" St htop

#------------------+
# App manipulation |
#------------------+

for_window [floating] border pixel 1
#for_window [class="St"] border pixel 1
for_window [title=".*vzhled.*"] floating enable
for_window [window_type="utility"] floating enable sticky enable
for_window [class="Cairo-clock"] floating enable sticky enable move position 1798 -5
for_window [window_type="dialog"] floating enable
for_window [title=".*[dD]okončeno"] floating enable
for_window [title=".*[vV]ytv.*"] floating enable
for_window [title=".*[kK]opírov.*"] floating enable
for_window [title=".*[oO]dstran.*"] floating enable
for_window [title=".*[pP]řesun.*"] floating enable
for_window [title=".*[pP]otvr.*"] floating enable
for_window [class="scrcpy"] focus; floating enable; move position -1 191; resize set 1922 890

## Termination
# kill focused window
bindsym $mod+q kill
# force kill window on select
bindsym --release $alt+F4 exec xkill
bindsym --release $mod+$alt+F4 exec --no-startup-id killall -9 $(pgrep -u $USER -l | sed 's/^[0-9]* //' | sort | rofi -dmenu -p "force kill")

## Focus
for_window [urgent="latest"] focus
focus_follows_mouse no
mouse_warping none

# tiling/floating
bindsym $mod+space focus mode_toggle
# recent, working in Tabbed/Stacking/Float layout (focus next/prev)
bindsym $alt+Tab focus next
bindsym $alt+Shift+Tab focus prev
# change tiling layer
bindsym $mod+grave focus parent
bindsym $mod+Shift+asciitilde focus child

# Use Mouse+$mod to drag floating windows
floating_modifier $mod

## Layout change
bindsym $mod+f fullscreen toggle
# container types
bindsym $mod+Ctrl+v sticky toggle
bindsym $mod+$alt+z split toggle
bindsym $mod+c split toggle
bindsym $mod+z layout toggle splith splitv tabbed
# tiling/floating managing
bindsym $mod+Ctrl+f floating toggle; sticky enable
bindsym $mod+$alt+Ctrl+f exec $modetgl $mode default

#--------+
# Arrows |
#--------+
## Position change
# floating mode, with tilling mode compatibility
set $floatpos --no-startup-id ~/.config/i3/floatpos
bindsym $mod+Left exec $floatpos left
bindsym $mod+Down exec $floatpos down
bindsym $mod+Up exec $floatpos up
bindsym $mod+Right exec $floatpos right
bindsym $mod+Shift+c exec $floatpos c
# snap to side or focus in tiling mode
bindsym $mod+Shift+Left exec $floatpos left shift
bindsym $mod+Shift+Down exec $floatpos down shift
bindsym $mod+Shift+Up exec $floatpos up shift
bindsym $mod+Shift+Right exec $floatpos right shift
# resize
bindsym $mod+$alt+Left resize grow left 80 or 4
bindsym $mod+$alt+Down resize grow down 80 or 4
bindsym $mod+$alt+Up resize grow up 80 or 4
bindsym $mod+$alt+Right resize grow right 80 or 4
bindsym $mod+$alt+Shift+Left resize shrink right 80 or 4
bindsym $mod+$alt+Shift+Down resize shrink up 80 or 4
bindsym $mod+$alt+Shift+Up resize shrink down 80 or 4
bindsym $mod+$alt+Shift+Right resize shrink left 80 or 4
# focus workspace
bindsym $mod+Ctrl+Right workspace next
bindsym $mod+Ctrl+Left workspace prev
# move container to workspace
bindsym $mod+Ctrl+Down move workspace prev; workspace prev
bindsym $mod+Ctrl+Up move workspace back_and_forth; workspace back_and_forth

#-----------+
# Left Hand |
#-----------+
# focus
bindsym $mod+a focus left
bindsym $mod+s focus down
bindsym $mod+w focus up
bindsym $mod+d focus right
# resize
bindsym $mod+$alt+a resize shrink width 80 or 4
bindsym $mod+$alt+s resize grow height 80 or 4
bindsym $mod+$alt+w resize shrink height 80 or 4
bindsym $mod+$alt+d resize grow width 80 or 4
# move
bindsym $mod+Shift+a move left
bindsym $mod+Shift+s move down
bindsym $mod+Shift+w move up
bindsym $mod+Shift+d move right
# focus workspace
bindsym $mod+Ctrl+d workspace next
bindsym $mod+Ctrl+a workspace prev
# move container to workspace
bindsym $mod+Ctrl+w move workspace next; workspace next
bindsym $mod+Ctrl+s move workspace prev; workspace prev
bindsym $mod+Ctrl+Shift+s move workspace back_and_forth; workspace back_and_forth

#------------+
# Right Hand |
#------------+
# focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
# resize
bindsym $mod+$alt+h resize shrink width 80 or 4
bindsym $mod+$alt+j resize grow height 80 or 4
bindsym $mod+$alt+k resize shrink height 80 or 4
bindsym $mod+$alt+l resize grow width 80 or 4
# move
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
# focus workspace
bindsym $mod+Ctrl+j workspace prev
# move container to workspace
bindsym $mod+Ctrl+l move workspace next; workspace next
bindsym $mod+Ctrl+h move workspace prev; workspace prev
bindsym $mod+Ctrl+k move workspace back_and_forth; workspace back_and_forth

# scratchpad
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

# quick mark
bindsym $mod+Ctrl+1 exec i3-msg [con_mark=1] focus | grep false && i3 mark 1
bindsym $mod+Ctrl+2 exec i3-msg [con_mark=2] focus | grep false && i3 mark 2
bindsym $mod+Ctrl+3 exec i3-msg [con_mark=3] focus | grep false && i3 mark 3
bindsym $mod+Ctrl+4 exec i3-msg [con_mark=4] focus | grep false && i3 mark 4
bindsym $mod+Ctrl+5 exec i3-msg [con_mark=5] focus | grep false && i3 mark 5
bindsym $mod+Ctrl+6 exec i3-msg [con_mark=6] focus | grep false && i3 mark 6
bindsym $mod+Ctrl+7 exec i3-msg [con_mark=7] focus | grep false && i3 mark 7
bindsym $mod+Ctrl+8 exec i3-msg [con_mark=8] focus | grep false && i3 mark 8
bindsym $mod+Ctrl+9 exec i3-msg [con_mark=9] focus | grep false && i3 mark 9
# remove marks
bindsym $mod+Ctrl+x unmark

#------------+
# Workspaces |
#------------+

# simple formatting options
#set $w0 <span color=\"#888\"><b>1: </b></span>
set $w1 ""
set $w2 ""
set $w3 "<b>3</b>"
set $w4 "<b>4</b>"
set $w5 "<b>5</b>"
set $w6 "<b>6</b>"
set $w7 ""
set $w8 ""
set $w9 ""

workspace $w3 output 2
workspace $w4 output 2
workspace $w5 output 2
workspace $w6 output 2

exec i3 workspace $w1
hide_edge_borders smart

# switch to
bindsym $mod+F1 workspace $w1
bindsym $mod+F2 workspace $w2
bindsym $mod+F3 workspace $w3
bindsym $mod+F4 workspace $w4
bindsym $mod+F5 workspace $w5
bindsym $mod+F6 workspace $w6
bindsym $mod+F7 workspace $w7
bindsym $mod+F8 workspace $w8
bindsym $mod+F9 workspace $w9
# move focused container to
bindsym $mod+Shift+1 move workspace $w1; workspace $w1
bindsym $mod+Shift+2 move workspace $w2; workspace $w2
bindsym $mod+Shift+3 move workspace $w3; workspace $w3
bindsym $mod+Shift+4 move workspace $w4; workspace $w4
bindsym $mod+Shift+5 move workspace $w5; workspace $w5
bindsym $mod+Shift+6 move workspace $w6; workspace $w6
bindsym $mod+Shift+7 move workspace $w7; workspace $w7
bindsym $mod+Shift+8 move workspace $w8; workspace $w8
bindsym $mod+Shift+9 move workspace $w9; workspace $w9
# recent/prev workspace
bindsym $mod+$alt+Tab workspace next
bindsym $mod+Shift+Tab workspace prev
bindsym $mod+Tab workspace back_and_forth

assign [title=".*craft.*"] $w9
assign [class="firefox"] $w8
assign [class="qutebrowser"] $w8
assign [class="vlc"] $w7
assign [class="Gimp"] $w7
assign [class="Pinta"] $w7
assign [title=".*LibreOffice.*"] $w6
assign [class="NetBeans"] $w5

#--------------+
# System setts |
#--------------+

set $Exit "C: L: D: Q: S: P: R: Esc:"
bindsym $mod+Escape mode $Exit
bindsym $mod+x mode $Exit
bindsym $mod+Shift+x exec i3lock-fancy-rapid 10 2
bindsym --release $mod+$alt+x exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50; mode default

mode $Exit {
	bindsym c exec $modetgl $mode reload; mode default
	bindsym Shift+c exec $modetgl $mode restart; mode default
	bindsym l exec i3lock-fancy-rapid 10 2; mode default
#bindsym l exec i3lock_blur
	bindsym --release d exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50; mode default
	bindsym q exit
	bindsym s mode default; exec systemctl suspend
	bindsym p exec poweroff
	bindsym r exec reboot
	bindsym Escape mode default
}

# Start i3bar to display a workspace bar with i3blocks
bar {
	height 24
	status_command i3blocks
	#modes: dock, hide, invisible
	mode dock
	modifier $mod+$alt
	i3bar_command i3bar --transparency
	separator_symbol " "
	position top

	colors {
#		statusline #ffffff
#		separator #aaaaaa
		background $bg
		focused_workspace $bg $bg #77ff00
		inactive_workspace $bg $bg #881eaa
		urgent_workspace $bg $bg #ff0800
	}
}

bindsym $mod+i bar mode toggle
#bindsym $mod+Ctrl+i exec --no-startup-id pgrep -x "i3bar" && killall i3bar && i3 exec cairo-clock || ( i3 restart && killall cairo-clock )

set $barsig --no-startup-id ~/.config/i3blocks/signal
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
#exec --no-startup-id nm-applet
exec --no-startup-id xrandr -r 50
exec_always --no-startup-id xset r rate 225 25

# screenshot
bindsym $mod+Print exec --no-startup-id scrot 'Pictures/scrshot/%m-%d_%H:%M:%S.png'
bindsym Print exec --no-startup-id scrot -e 'xclip -selection c -t image/png $f && rm $f'
#bindsym --release Shift+Print exec --no-startup-id scrot -s -e 'xclip -selection c -t image/png $f && rm $f'
# use import, because scrot bugs lines with picom
bindsym --release Shift+Print exec --no-startup-id import scr.png && xclip -selection c -t image/png scr.png && rm scr.png
bindsym $mod+Ctrl+Print exec feh -. -B black -\| "$HOME/Pictures/scrshot/$(ls ~/Pictures/scrshot | grep -m 1 "")"

# keyboard layout toggle, old way
bindsym $mod+n exec --no-startup-id $barsig kb
# more common, but works for every keyboard separately
#exec --no-startup-id setxkbmap -layout us,cz -option -option grp:alt_shift_toggle

# poweroff and eject any connected device (udisksctl power-off -b /dev/sdx0)
bindsym $mod+$alt+p exec --no-startup-id /usr/local/bin/DrivePowerOff

# special keys (all with XF86): ScreenSaver (lock key), WakeUp (Fn key), WebCam, Display, Launch1
# system vals change
# tgl lid on/off
bindsym XF86Launch1 exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50
bindsym XF86Display exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50

# Change gamma manually, since redshift is not working for me
bindsym $mod+$alt+n exec --no-startup-id xrandr --output LVDS1 --gamma 1:0.85:0.75
bindsym $mod+Shift+n exec --no-startup-id xrandr --output LVDS1 --gamma 1:1:1

#Rotating screen
bindsym $alt+Ctrl+Left exec xrandr -o left
bindsym $alt+Ctrl+Right exec xrandr -o right
bindsym $alt+Ctrl+Up exec xrandr -o normal
bindsym $alt+Ctrl+Down exec xrandr -o inverted

# Change brightness
bindsym XF86MonBrightnessUp exec $barsig light + $(bc <<< $(xbacklight)/2+3)
bindsym $mod+b exec $barsig light + 10
bindsym XF86MonBrightnessDown exec $barsig light - $(bc <<< $(xbacklight)/2.2+1)
bindsym $mod+Shift+b exec $barsig light - 10

# Audio manipulation
bindsym XF86AudioRaiseVolume exec $barsig vol +5
bindsym $mod+v exec $barsig vol +5
bindsym XF86AudioLowerVolume exec $barsig vol -5
bindsym $mod+Shift+v exec $barsig vol -5
bindsym XF86AudioMute exec $barsig mute toggle
bindsym $mod+$alt+Shift+v exec $barsig mute toggle
bindsym XF86AudioMicMute exec --no-startup-id amixer set Capture toggle
bindsym $mod+$alt+v exec --no-startup-id amixer set Capture toggle

bindsym XF86AudioPlay exec --no-startup-id mpris-ctl pp
bindsym XF86AudioNext exec --no-startup-id mpris-ctl next
bindsym XF86AudioPrev exec --no-startup-id mpris-ctl prev
#bindsym XF86AudioStop exec --no-startup-id mpris-ctl stop
bindsym $mod+m exec --no-startup-id mpris-ctl pp
bindsym $mod+$alt+m exec --no-startup-id mpris-ctl next
bindsym $mod+Shift+m exec --no-startup-id mpris-ctl prev

