# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

set $term st
set $mod Mod4
set $alt Mod1
set $modetgl --no-startup-id ~/.config/i3/modetoggle.sh

#-----------------+
# Appearance opts |
#-----------------+

font pango:Inconsolata 17, Font Awesome 5 Free Solid 14
#DejaVu Sans Mono

default_border pixel 1
focus_follows_mouse no
mouse_warping none
gaps inner 0
gaps outer 0

bindsym $mod+g gaps inner current plus 5
bindsym $mod+Shift+g gaps inner current minus 5
bindsym $mod+$alt+g gaps outer current plus 5
bindsym $mod+$alt+Shift+g gaps outer current minus 5
bindsym $mod+$alt+t border toggle

# class                 border  bg        text    indic.  child_border
client.focused          #77ff00 #1c1c1c00 #ffffff #881eaa #77ff00
client.focused_inactive #555555 #1c1c1c00 #ffffff #32302d #42403d00
client.background #00000000

exec --no-startup-id picom
bindsym $mod+p exec --no-startup-id pgrep -x "picom" && killall picom || picom

set $feh --no-startup-id feh --no-fehbg --bg-fill -z ~/Pictures/screen
bindsym $mod+Next exec $feh/simpledark/
bindsym $mod+$alt+Next exec $feh/anime/
bindsym $mod+Shift+Next exec $feh/mc/
bindsym $mod+Prior exec $feh/current/
bindsym $mod+$alt+Prior exec $feh/best/
bindsym $mod+Shift+Prior exec $feh/nature/
exec --no-startup-id feh --no-fehbg --bg-fill ~/Pictures/screen/simpledark/archwin10G.png
#normal image displaying
#feh -. -B black -| /path/to/image

#---------------+
# App selection |
#---------------+

# start rofi to run apps
bindsym $mod+r exec --no-startup-id rofi -show drun -location 1

# quick app starter
# engrampa for .zip, vlc for .mp4, pinta for .jpg
bindsym $mod+Return exec $term
bindsym $mod+1 exec firefox
bindsym $mod+$alt+1 exec min
bindsym $mod+$alt+2 exec geany
bindsym $mod+2 exec $term -e nvim
bindsym $mod+3 exec $term
#bindsym $mod+$alt+3 exec $term2
bindsym $mod+4 exec discord
bindsym $mod+9 exec prime minecraft-launcher
bindsym $mod+e exec pcmanfm
bindsym $mod+$alt+e exec $term -e ranger
#bindsym $mod+Shift+e exec sudo pcmanfm
# managing/control
bindsym Ctrl+Shift+Escape exec $term -e htop

#------------------+
# App manipulation |
#------------------+

for_window [title=".*vzhled.*"] floating enable
for_window [window_type="utility"] floating enable sticky enable
for_window [class="Cairo-clock"] floating enable sticky enable move position 1798 -5
for_window [floating] border pixel 1
for_window [window_type="dialog"] floating enable
for_window [title=".*[dD]okončeno"] floating enable
for_window [title=".*[vV]ytv.*"] floating enable
for_window [title=".*[kK]opírov.*"] floating enable
for_window [title=".*[oO]dstran.*"] floating enable
for_window [title=".*[pP]řesun.*"] floating enable
for_window [title=".*[pP]otvr.*"] floating enable
for_window [class="St"] border none
for_window [class="scrcpy"] focus; floating enable; move position -1 191; resize set 1922 890

## Termination
# kill focused window
bindsym $mod+q kill
# force kill window on select
bindsym --release $alt+F4 exec xkill
bindsym --release $mod+$alt+F4 exec --no-startup-id killall -9 $(pgrep -u $USER -l | sed 's/^[0-9]* //' | sort | rofi -dmenu -p "force kill")

## Focus
for_window [urgent=latest] focus
# tiling/floating
bindsym $mod+space focus mode_toggle
# recent, working in Tabbed/Stacking/Float layout (focus next/prev)
bindsym $alt+Tab focus prev
bindsym $mod+Ctrl+Tab exec --no-startup-id rofi -show window; focus
# positioned
bindsym $mod+a focus left
bindsym $mod+s focus down
bindsym $mod+w focus up
bindsym $mod+d focus right
# change tiling layer
bindsym $mod+grave focus parent
bindsym $mod+Shift+asciitilde focus child
# resize
bindsym $mod+$alt+a resize shrink width 80 px or 3 ppt
bindsym $mod+$alt+s resize grow height 80 px or 3 ppt
bindsym $mod+$alt+w resize shrink height 80 px or 3 ppt
bindsym $mod+$alt+d resize grow width 80 px or 3 ppt

#bindsym $mod+t mode "floating"
#mode "floating" {
#	bindsym Escape mode "default"
#}

## Position change
# floating mode, with tilling mode compatibility
set $floatpos --no-startup-id ~/.config/i3/floatpos.sh
bindsym $mod+Left exec $floatpos left
bindsym $mod+Down exec $floatpos down
bindsym $mod+Up exec $floatpos up
bindsym $mod+Right exec $floatpos right
bindsym $mod+Ctrl+c exec $floatpos c

bindsym $mod+Shift+Left exec $floatpos left shift
bindsym $mod+Shift+Down exec $floatpos down shift
bindsym $mod+Shift+Up exec $floatpos up shift
bindsym $mod+Shift+Right exec $floatpos right shift

bindsym $mod+Shift+a move left
bindsym $mod+Shift+s move down
bindsym $mod+Shift+w move up
bindsym $mod+Shift+d move right

bindsym $mod+Shift+h move workspace prev; workspace prev
bindsym $mod+Shift+k move workspace back_and_forth; workspace back_and_forth
bindsym $mod+Shift+l move workspace next; workspace next

# Use Mouse+$mod to drag floating windows
floating_modifier $mod

## Layout change
bindsym $mod+f fullscreen toggle
# container types
bindsym $mod+Ctrl+v sticky toggle
bindsym $mod+c split toggle
bindsym $mod+z layout toggle split
bindsym $mod+Ctrl+z layout stacking
bindsym $mod+$alt+z layout tabbed
# tiling/floating managing
bindsym $mod+Ctrl+f floating toggle; sticky enable
bindsym $mod+$alt+Ctrl+f exec $modetgl $mode default

#------------+
# Workspaces |
#------------+

# simple formatting options
#set $w0 <span color=\"#888\"><b>1: </b></span>
set $w1 ""
set $w2 ""
set $w3 "<b>3</b>"
set $w4 "<b>4</b>"
set $w5 "<b>5</b>"
set $w6 "<b>6</b>"
set $w7 ""
set $w8 ""
set $w9 ""

# switch to
bindsym $mod+F1 workspace $w1
bindsym $mod+F2 workspace $w2
bindsym $mod+F3 workspace $w3
bindsym $mod+F4 workspace $w4
bindsym $mod+F5 workspace $w5
bindsym $mod+F6 workspace $w6
bindsym $mod+F7 workspace $w7
bindsym $mod+F8 workspace $w8
bindsym $mod+F9 workspace $w9
# move focused container to
bindsym $mod+Shift+1 move workspace $w1; workspace $w1
bindsym $mod+Shift+2 move workspace $w2; workspace $w2
bindsym $mod+Shift+3 move workspace $w3; workspace $w3
bindsym $mod+Shift+4 move workspace $w4; workspace $w4
bindsym $mod+Shift+5 move workspace $w5; workspace $w5
bindsym $mod+Shift+6 move workspace $w6; workspace $w6
bindsym $mod+Shift+7 move workspace $w7; workspace $w7
bindsym $mod+Shift+8 move workspace $w8; workspace $w8
bindsym $mod+Shift+9 move workspace $w9; workspace $w9
# recent/prev workspace
bindsym $mod+$alt+Tab workspace next
bindsym $mod+Shift+Tab workspace prev
bindsym $mod+Tab workspace back_and_forth

assign [class=".*craft.*"] $w9
assign [class="firefox"] $w8
assign [class="Min"] $w8
assign [class="vlc"] $w7
assign [class="Gimp"] $w7
assign [class="Pinta"] $w7
assign [instance="libreoffice"] $w6

#--------------+
# System setts |
#--------------+

# reload config file
bindsym $mod+$alt+c exec $modetgl $mode reload
# restart i3 inplace
bindsym $mod+$alt+r exec $modetgl $mode restart
# systemstate changes
bindsym $mod+$alt+Escape exit
bindsym $mod+Escape exec systemctl suspend
bindsym $mod+l exec i3lock_blur.sh
bindsym $mod+Ctrl+Escape exec sudo umount -a;exec poweroff

# Start i3bar to display a workspace bar with i3blocks
bar {
	height 24
	font pango:Inconsolata 15
	status_command i3blocks
	#modes: dock, hide, invisible
	mode dock
	modifier $mod+$alt
	i3bar_command i3bar --transparency
#	separator_symbol "|"
	position top
	set $bg #1c1c1c55

	colors {
		statusline #ffffff
		separator #aaaaaa
		background $bg
		focused_workspace $bg $bg #77ff00
		inactive_workspace $bg $bg #881eaa
		urgent_workspace $bg $bg #ff0800
	}
}

bindsym $mod+i bar mode toggle
#bindsym $mod+Ctrl+i exec --no-startup-id pgrep -x "i3bar" && killall i3bar && i3 exec cairo-clock || ( i3 restart && killall cairo-clock )

set $barsig --no-startup-id ~/.config/i3blocks/signal
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
#exec --no-startup-id nm-applet
exec --no-startup-id xrandr -r 50
exec_always --no-startup-id xset r rate 225 25
#exec --no-startup-id xbacklight = 30

# screenshot
bindsym $mod+Print exec --no-startup-id scrot '%m-%d_%H:%M:%S.png' -e 'mv $f ~/Pictures/scrshot'
bindsym Print exec --no-startup-id scrot -e 'xclip -selection c -t image/png $f && rm $f'
bindsym --release Shift+Print exec --no-startup-id scrot -s -e 'xclip -selection c -t image/png $f && rm $f'
bindsym $mod+Ctrl+Print exec feh -. -B black -\| "$HOME/Pictures/scrshot/$(ls ~/Pictures/scrshot | grep -m 1 "")"

# keyboard layout toggle, old way
bindsym $mod+k exec --no-startup-id $barsig kb
# more common, but works for every keyboard separately
#exec --no-startup-id setxkbmap -layout us,cz -option -option grp:alt_shift_toggle

# poweroff and eject any connected device (udisksctl power-off -b /dev/sdx0)
bindsym $mod+$alt+p exec --no-startup-id /usr/local/bin/DrivePowerOff

# special keys (all with XF86): ScreenSaver (lock key), WakeUp (Fn key), WebCam, Display, Launch1
# system vals change
# tgl lid on/off
bindsym XF86Launch1 exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50
bindsym XF86Display exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50
bindsym --release $mod+Shift+Escape exec --no-startup-id [ "$(xrandr --verbose | grep -m 1 CRTC:)" ] && xrandr --output LVDS1 --off || xrandr --auto && xrandr -r 50

# Change gamma manually, since redshift is not working for me
bindsym $mod+n exec --no-startup-id xrandr --output LVDS1 --gamma 1:0.9:0.8
bindsym $mod+Shift+n exec --no-startup-id xrandr --output LVDS1 --gamma 1:1:1

#Rotating screen
bindsym $alt+Ctrl+Left exec xrandr -o left
bindsym $alt+Ctrl+Right exec xrandr -o right
bindsym $alt+Ctrl+Up exec xrandr -o normal
bindsym $alt+Ctrl+Down exec xrandr -o inverted

# Change brightness
bindsym XF86MonBrightnessUp exec $barsig light + $(bc <<< $(xbacklight)/2+3)
bindsym $mod+b exec $barsig light + 10
bindsym XF86MonBrightnessDown exec $barsig light - $(bc <<< $(xbacklight)/2.2+1)
bindsym $mod+Shift+b exec $barsig light - 10

# Audio manipulation
bindsym XF86AudioRaiseVolume exec $barsig vol +5
bindsym $mod+v exec $barsig vol +5
bindsym XF86AudioLowerVolume exec $barsig vol -5
bindsym $mod+Shift+v exec $barsig vol -5
bindsym XF86AudioMute exec $barsig mute toggle
bindsym $mod+$alt+Shift+v exec $barsig mute toggle
bindsym XF86AudioMicMute exec --no-startup-id amixer set Capture toggle
bindsym $mod+$alt+v exec --no-startup-id amixer set Capture toggle

bindsym XF86AudioPlay exec --no-startup-id mpris-ctl pp
bindsym XF86AudioNext exec --no-startup-id mpris-ctl next
bindsym XF86AudioPrev exec --no-startup-id mpris-ctl prev
#bindsym XF86AudioStop exec --no-startup-id mpris-ctl stop
bindsym $mod+m exec --no-startup-id mpris-ctl pp
bindsym $mod+$alt+m exec --no-startup-id mpris-ctl next
bindsym $mod+Shift+m exec --no-startup-id mpris-ctl prev

